#fp:first-letter {
  font-size: 130%;
  /*表示首字要放大的比率大小*/

  color: #BDFF00;

  font-weight: bold;
  /*首字粗體*/
  padding-right: 3px;
  /*首字與右邊的距離*/
  line-height: 100%;
  /*表示首字放大的行高*/
}

.demo {
  line-height: 180%;
  /*表示段落其他小字要放大的行高*/
  text-align: justify;
}

.text-color-1 {
  color: #BDFF00;
}

.banner {
  background-color: rgba(0, 0, 0, .7);
  background-blend-mode: multiply;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50%;
}

.text-color-2 {
  color: #00D27A;
}

.title {
  display: flex;
  /* 水平置中 */
  justify-content: center;
  /* 垂直置中 */
  align-items: center;
}

.illustrate {
  /* 水平置中 */
  justify-content: center;
  /* 垂直置中 */
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.category a.active {
  background-color: #ae7d58;
  color: #fff;
}

.border-primary {
  border-color: #ae7d58;
}

.list-group-item.active {
  background-color: #00D27A;
  color: #fff;
}

.list-group {
  --bs-list-group-active-bg: #00D27A;
  --bs-list-group-active-border-color: #00D27A;
  --bs-list-group-action-hover-bg: #00D27A;
}

.list-group-item {
  background: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
}

border-bottom {
  color: white;
  font-weight: bold;
  border: 2rem solid;
}

.card-category {
  position: absolute;
  bottom: 45%;
  left: 80%;
  padding: 0.25rem 0.5rem;
  background-color: #BDFF00;
  border-radius: 0.25rem;
  color: #000;
}

.active>.page-link,
.page-link.active {
  z-index: 3;
  /* color: var(--bs-pagination-active-color); */
  background-color: #414666;
  ;
  border-color: #414666;
  ;
}

.page-link {
  color: black;
}

.btn-block {
  display: block;
  width: 100%
}

.btn-block+.btn-block {
  margin-top: .5rem
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
  width: 100%
}

a.link-green {
  color: white;
  text-decoration: none;
}

a.link-green:hover {
  color: #BDFF00;
}

.mr-2,
.mx-2 {
  margin-right: .5rem !important
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart_img {
  height: 150px;
  width: 150px;
}

/* 设置表格整体的边框间隔 */
table {
  border-collapse: separate;
  border-spacing: 0 7px;
  /* 在纵向上设置 tbody 与 thead 之间的间隔为 5px */
}

/* 设置每个表格行之间的间隔 */
tr {
  margin-bottom: 5px;
  /* 在纵向上设置 tr 与 tr 之间的间隔为 5px */
}

td {
  width: 100px;
}

.rounded-pill {
  border-radius: 50rem !important;
}

a {
  text-decoration: none;
}

.step-bar_item,
.step-bar_list {
  /* display: -webkit-box; */
  display: -ms-flexbox;
  display: flex;
}

.step-bar_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.step-bar_item {
  position: relative;
  width: 33.33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.step-bar_circle--active+.step-bar_line {
  border-top: solid px;
  border-image-source: linear-gradient(90deg, #ff5722 100%, #ff5722 0);
  border-image-slice: 1;
}

.step-bar_item--first .step-bar_line {
  width: 150%;
  left: 0;
}

.step-bar_line {
  width: 100%;
  border-top: 2px solid #c7c6c6;
  position: absolute;
  z-index: -1;
  top: 28%;
}

.step-bar_item--first>* {
  margin-right: auto;
}

.step-bar_circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  /* 垂直居中 */
  justify-content: center;
  /* 水平居中 */
  background-color: #c7c6c6;
}

.step-bar_item--last>* {
  margin-left: auto;
}

.step-bar_circle span {
  display: block;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.step-bar_circle--active {
  background-color: #ff5722;
}

.w-4 {
  width: 4rem;
}

.checkout_summary {
  color: #707070;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  /* width: 25%; */
  /* width: 25rem; */
  -webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, .05);
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .05);
}

.checkout_summary-price,
.checkout_summary-total {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkout_summary-total {
  text-align: right;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1.5rem;
  border-top: 1px solid #c7c6c6;
  padding: 1rem 0 3rem 0;
}

.btn-primary--cancel {
  padding-left: 5px;
  border-radius: 5px;
  margin-left: 10px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#b4b4b4), to(#969696));
  height: 100%;
  color: #fff;
  font-size: 24px;
  letter-spacing: 5px;
}

.btn-primary {
  padding-left: 5px;
  border-radius: 5px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f7a343), to(#f0163a));
  height: 100%;
  color: #fff;
  font-size: 20px;
  letter-spacing: 5px;
  border: 0;
  --bs-btn-hover-color: #000;
}

.checkout_summary-title {
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #c7c6c6;
}

.heading-tertiary--dark {
  color: #16283d;
  font-family: "Noto+Sans+TC", sans-serif;
  font-weight: 400;
  letter-spacing: .3rem;
  font-size: 20px;
  text-decoration: none;
}

.form_group {
  width: 100%;
  margin-bottom: 14px;
  position: relative;
}

.form_label {
  display: block;
  font-size: 14px;
  margin-bottom: .3rem;
  margin-right: 1rem;
  color: #707070;
}

.form_input {
  width: 100%;
  height: 32px;
  padding: 5px;
  display: block;
  color: #707070;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #cacbcc;
  background-color: transparent;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.form_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.checkout-form {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 3rem;
  color: #707070;
  background-color: #fff;
  margin-right: 2rem;
  -webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, .05);
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .05);
}

.heading-tertiary--dark {
  color: #16283d;
  font-family: "Noto+Sans+TC", sans-serif;
  font-weight: 400;
  letter-spacing: .3rem;
  font-size: 20px;
  text-decoration: none;
}

.checkout-table {
  width: 100%;
  border-collapse: collapse;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.badge-title {
  z-index: 50;
  width: 25px;
  height: 25px;
  transform: scale(0.8)
}

.prod-filter__list {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 8px;
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

@media (max-width: 768px) {
  .navbar-collapse {
    top: 56px;
    /* 调整导航栏的高度 */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #343a40;
    /* 下拉菜单的背景色 */
    padding: 1rem;
    /* 可选的内边距 */
    overflow-y: auto;
    /* 如果下拉菜单内容超过视口高度，则启用滚动条 */
  }


}